@import "src/scss/_mixin.scss";
.user {
    height: 5rem;
    @include flexCenterItem;
    border-radius: 1rem;
    background-color: $brColorItem;
    gap: 0.5rem;
    transition: 0.3s all;
    .user_search {
        height: 4.5rem;
        width: min-content;
        position: relative;
        @include flexCenterItem;
        gap: 1rem;
        input {
            width: 0px;
            height: 100%;
            padding: 0rem 4rem 0px 0rem;
            border-radius: 50%;
            font-weight: 700;
            transition: 0.2s all;
            color: $textColor1;
            &::placeholder {
                color: $textColor;
            }
        }
        i {
            position: absolute;
            right: 0;
            top: 0;
            @include flexCenterItem;
            height: 4.5rem;
            width: 4.5rem;
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .user_avatar {
        width: 100%;
        height: 100%;
        @include flexCenterItem;
        position: relative;
        margin-right: 0.5rem;
        .user_avatar-img {
            width: 4.5rem;
            height: 4.5rem;
            object-fit: cover;
            cursor: pointer;
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .active-search {
        input {
            position: relative;
            width: 30rem;
            height: 100%;
            border-radius: 0.5rem;
            background-color: $brColorItem;
            padding: 0rem 5rem 0px 1rem;
        }
        i {
            transform: scale(1.1);
            border-radius: 50%;
            height: 4.5rem;
            width: 4.5rem;
            color: $textColor1;
        }
    }
}
