@import "../../../../src/style/variabels";
@import "../../../style/mixin";
.product-banner {
    background-image: $brColorlgradient;
    border-radius: 2rem;
    box-shadow: $boxShadowItem;
    position: relative;
    overflow: hidden;
    .banner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: absolute;
        padding: 1rem 2rem;
        ul {
            gap: 2rem;
            display: flex;
            li {
                padding: 0.7rem;
                height: 100%;
                min-width: 7rem;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                border-radius: 2rem;
                transition: all 0.5s;
                &:hover {
                    color: $primaryColor;
                    font-weight: 900;
                }
                @include buttonWater;
            }
        }
        h2 {
            font-weight: 900;
            font-size: 2rem;
        }
    }
}
