.product-list {
    .list-control {
        @include flexCenterItem;
        gap: 30rem;
        margin-top: 0.5rem;
        button {
            outline: none;
            border: none;
            padding: 0.7rem;
            line-height: 2rem;
            font-weight: 900;
            min-width: 10rem;
            background-color: transparent;
            color: white;
            cursor: pointer;
            transition: all 0.5s;
            @include buttonWater;
        }
    }
    ul {
        @include flexCenterItem;
    }
}
