@import "src/scss/mixin";
@import "src/scss/variabels";
@import "./components/style/index.scss";
.product {
    width: 100%;
    height: calc(100% - $heightHeader);
    display: grid;
    grid-template-rows: 65% 35%;
}
