@import "src/scss/mixin";
@import "src/scss/variabels";
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import "~@flaticon/flaticon-uicons/css/all/all";
html {
    font-size: 62.5%;
}

body {
    font-family: "Poetsen One", sans-serif;
    background-color: rgb(37, 59, 59);
    color: $textColor;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: inherit;
}

ul,
li {
    list-style-type: none;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
input {
    border: none;
    outline: none;
    background-color: transparent;
}
img {
    display: block;
    object-fit: cover;
}
