@import "./variabels";
@mixin keyframes($nameAnimation) {
    @keyframes #{$nameAnimation} {
        @content;
    }
}

@mixin buttonWater {
    outline: none;
    border: none;
    transition: all 0.3s;
    animation: warter 10s linear infinite;
    border-top: 1px solid $primaryColor1;
    box-shadow: $boxShadowItem;
    cursor: pointer;
    color: $textColor;
    background-color: transparent;

    @include keyframes(warter) {
        0% {
            border-top-left-radius: 90%;
        }

        10% {
            border-bottom-right-radius: 90%;
            border-top-left-radius: 2rem;
        }

        20% {
            border-top-right-radius: 90%;
            border-bottom-right-radius: 1rem;
        }

        30% {
            border-bottom-left-radius: 90%;
            border-top-right-radius: 2rem;
        }

        40% {
            border-bottom-right-radius: 90%;
            border-bottom-left-radius: 2rem;
        }

        50% {
            border-top-right-radius: 90%;
            border-bottom-right-radius: 2rem;
        }

        60% {
            border-top-right-radius: 2rem;
            border-bottom-left-radius: 90%;
        }

        70% {
            border-bottom-left-radius: 2rem;
            border-top-left-radius: 90%;
        }

        80% {
            border-top-left-radius: 2rem;
            border-bottom-left-radius: 90%;
        }

        90% {
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 90%;
        }

        100% {
            border-bottom-right-radius: 2rem;
            border-top-left-radius: 90%;
        }
    }

    &:hover {
        color: $primaryColor;
    }
}

//style item

@mixin flexCenterItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin screenCoderHeight {
    transform: translateY($heightHeader);
}
