@import "./variabels";
@mixin keyframes($nameAnimation) {
    @keyframes #{$nameAnimation} {
        @content;
    }
}
@mixin melt {
    animation: melt 2s infinite;
}
@mixin animationMelt {
    @include keyframes(melt) {
        100% {
            transform: rotate(220deg);
        }
    }
}
//style item
@mixin AnimationMelt {
    &::before {
        content: "";
        position: absolute;
        width: 2rem;
        height: 200%;
        background-color: rgb(255, 255, 255);
        transform: rotate(45deg);
        transition: all 0.3s linear;
        @include melt;
        @include animationMelt;
    }
}
@mixin flexCenterItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin boxShadow {
    box-shadow: 1px 2px 10px rgb(255, 253, 253);
}
@mixin hoverItem {
    &:hover {
        color: $textColor1;
        background-color: $brColorHover;
    }
}
