$brColorlgradient: linear-gradient(45deg, #23232b94, #58554eab);
$brColorlgradient2: linear-gradient(45deg, #4c3d38, #55473e, #8f7262, #deb48e);
$brColorlgradient3: linear-gradient(45deg, #ba5b25, #deb48e);
$brColorlgradient4: linear-gradient(45deg, #deb48e, #ba5b25);
$brColorItem: linear-gradient(71deg, #080509, #1a171c, #080509);

$primaryColor: #ba5b25;
$primaryColor1: #ba967a;

$textColor: rgba(255, 255, 255, 0.796);

$boxShadowItem: 0px 2px 2px 0px rgba(0, 0, 0, 0.5),
    inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);

//values elements
$heightHeader: 8rem;
